extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)

		header.wow.up
			+image('logo.png', 'logo')
		
		section.sec1.up
			h1 Considerações finais
			p Nosso propósito, nesta trilha de aprendizado, foi oferecer um conteúdo que permitisse maior compreensão do papel da assistência social na promoção da Educação Integral, a partir da concepção, funções e ferramentas relacionadas às provisões que são fundamentais para a garantia do pleno desenvolvimento e das atenções destinadas às crianças e aos adolescentes.
			.flex.up
				+image('img01b.png', 'img left')
				.boxText.right
					p Considerando a complexidade das demandas que incidem nas unidades públicas de assistência social, notadamente os Centros de Referência de  Assistência  Social, é essencial a adoção de estratégias integradoras de políticas sociais, especialmente assistência social, educação e saúde, para a provisão de cuidados e proteção social.
					p Ao priorizarmos os direitos e os cuidados integrados, estamos cultivando uma sociedade mais preparada para lidar com desafios e construir novas formas de convivência e vida cidadã.
					p O importante é começar novos caminhos ou fortalecer ações que tenham o objetivo de fomentar a Educação Integral e as ações intersetoriais, na perspectiva da promoção, defesa e garantia dos direitos de crianças e adolescentes.
				
			
		section.sec2.up.completeScorm
			//- +image('img01.png', 'img up')
			.container-accordeon.up
				.corpbtn.up
					button.accordeon-title.pulse
						.boxImg
							+image('help/btn05.png', 'img')
						p Referências
					.accordeon-texto
						p <b>ALVARENGA, Rodrigo; SILVEIRA, Jucimeri Isolda.</b> Conexão Jovem - Novas abordagens e metodologias no trabalho socioeducativo com crianças e adolescentes. Curitiba: PUCPRESS, 2021.
						p <b>ARROYO, Miguel.</b> O direito a tempos e espaços de um justo e digno viver. In: MOLL, Jaqueline et al. Caminhos da Educação Integral no Brasil: direito a outros tempos e espaços educativos. Porto Alegre: Penso, 2012.
						p <b>BRASIL.</b> Caderno de orientações: serviço de proteção e atendimento integral à família e serviço de convivência e fortalecimento de vínculos: articulação necessária na proteção social básica. Brasília: Ministério do Desenvolvimento Social e Combate à Fome, 2016.
						p <b>BRASIL.</b> Orientações técnicas da vigilância socioassistencial. Brasília: Ministério do Desenvolvimento Social e Combate à Fome – Secretaria Nacional de Assistência Social, 2013.
						p <b>BRASIL.</b> Sistema Único de Assistência Social. Brasília: Unicef, 2024.
						p <b>GUEBERT, Mirian Célia Castellain; SIQUEIRA, Marcos Vinicius Teixeira.</b> Crianças, jovens e direitos humanos: um estudo das políticas públicas da cidade de Curitiba. Revista Educação (Guarulhos), v. 17, p. 150-160, 2022.
						p <b>GUEBERT, Mirian Célia Castellain; LIMA, Ihandara Proença.</b> A criança e o adolescente como sujeito de direitos humanos. Singular Sociais e Humanidades, v. 1, p. 6-9, 2019.
						p <b>GUEBERT, Mirian Célia Castellain; MORAES, Diesley Patrick.</b> A realidade nas políticas públicas de inclusão. In: Desafios da educação; direitos humanos e transcendência. Brasil, 2022.
						p <b>GUEBERT, Mirian Célia Castellain; FERNANDES, Solange; MOITEIRO, Carlos Renato.</b> Diversidade, educação e direitos humanos. In: Teorias dos direitos humanos em perspectiva interdisciplinar. Curitiba: PUCPRESS, 2016.
						p <b>GUEBERT, Mirian Célia Castellain; LIMA, Cesar Bueno.</b> Direitos humanos; juventude e políticas públicas em Curitiba e região metropolitana. In: Educação, política e direitos humanos - diálogos necessários para o século XXI. Curitiba: Editora CRV, 2014.
						p <b>GUEBERT, Mirian Célia Castellain; COSTA, Reginaldo Rodrigues da (Org.).</b> Direitos humanos; juventude e políticas públicas em Curitiba e região metropolitana. In: Educação, política e direitos humanos - diálogos necessários para o século XXI. Curitiba: Editora CRV, 2014.
						p <b>LÜCK, Heloísa.</b> A gestão participativa na escola. Petrópolis: Vozes Limitada, 2017.
						p <b>LÜCK, Heloísa.</b> Metodologia de projetos: uma ferramenta de planejamento e gestão. Petrópolis: Vozes Limitada, 2003.
						p <b>LÜCK, Heloísa.</b> Concepções e processos democráticos de gestão educacional. Petrópolis: Vozes Limitada, 2010.
						p <b>SAVIANI, Dermeval.</b> História das ideias pedagógicas no Brasil. Campinas: Autores Associados, 2007.
						p <b>SILVEIRA, Jucimeri Isolda; NASCIMENTO, Sergio L.; ZALAMBESSA,</b> Simões. Colonialidade e decolonialidade na crítica ao racismo e às violações: para refletir sobre os desafios da educação em direitos humanos. Educação em Revista, v. 37, 2021.
						p <b>SILVEIRA, Jucimeri Isolda (Org.).</b> Mapa Social: Borda do Campo e Roseira de São Sebastião – São José dos Pinhais, PR. Curitiba: PUCPRESS, 2018. Disponível em: <a href="https://blogs.pucpr.br/ndh/mapa-social/aplicacoesdiagnosticos/", target="_blank", rel="noopener noreferrer">https://blogs.pucpr.br/ndh/mapa-social/aplicacoesdiagnosticos/</a>. Acesso em: 19 nov. 2024.
						p <b>SILVEIRA, Jucimeri Isolda; BRAGA, A. (Org.).</b> Mapa Social do Caximba, Curitiba. Curitiba: PUCPRESS, 2020. Disponível em: <a href="https://blogs.pucpr.br/ndh/mapa-social/aplicacoesdiagnosticos/", target="_blank", rel="noopener noreferrer">https://blogs.pucpr.br/ndh/mapa-social/aplicacoesdiagnosticos/</a>. Acesso em: 19 nov. 2024.
						p <b>SILVEIRA, Jucimeri Isolda; BARBOSA, Tiago.</b> Mapa social: avaliação de impacto nos territórios Borda do Campo e da Roseira de São Sebastião em São José dos Pinhais [livro eletrônico]. Curitiba: NDH/PUCPR, 2023. Disponível em: <a href="https://labsocial.net.br/wp-content/uploads/2024/02/MapaSocial_PUC_Renault_2023_DIGITAL.pdf", target="_blank", rel="noopener noreferrer">https://labsocial.net.br/wp-content/uploads/2024/02/MapaSocial_PUC_Renault_2023_DIGITAL.pdf</a>. Acesso em: 19 nov. 2024.
						p <b>SILVEIRA, Jucimeri Isolda.</b> Assistência social em risco: conservadorismo e luta social por direitos. Serviço Social & Sociedade, p. 487-506, 2017.
						p <b>SILVEIRA, Jucimeri Isolda; COLLIN, Denise (Orgs.).</b> Vigilância socioassistencial: função estratégica que amplia a proteção social. Brasília: UNICEF, 2024.
						p <b>VASCONCELOS, Celso dos S.</b> Planejamento: projeto de ensino-aprendizagem e projeto político-pedagógico. São Paulo: Libertad, 2002.
						//- .flexButton
						//- 	.boxIco
						//- 		+image('ico01.png', 'ico')
						//- 	a.button(href="http://", target="_blank", rel="noopener noreferrer")
						//- 		p Acessar

		footer.up
			+image('logo-footer.png', 'imgFooter')

block scripts
	script(src="script.js")